.addpost-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

.addpost-header {
    width: 95%;
    background-color: #343a40;
    color: white;
    padding: 15px 30px;
    border-radius: 10px 10px 0px 0px;
}

.addpost-body {
    width: 95%;
    background-color: #f2f2f5;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addpost-body div label {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.select-region {
    width: 60%;
    border: none;
    padding: 5px 0px 5px 10px;
}

.img-col {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.addpost-input {
    width: 60%;
    border: none;
    padding: 5px 10px;
}

.addpost-input:focus {
    outline-color: #343a40;
}

.img-input {
    width: 75%;
    margin-right: 15px;
}

.imgurl {
    width: 75%;
    margin-right: 15px;
    border-style: solid;
    border-color: #d1d1d1;
    border-width: 0px 10px 0px 0px;
    padding: 5px 10px;
    background-color: #d1d1d1;
    overflow-x: hidden;
}

.img-col i {
    font-size: 24px;
}

.img-col i:hover {
    cursor: pointer;
    color: #343a40;
}

.additional-imgurl {
    margin-top: 20px;
}

.submit-btn {
    margin: 5px auto;
    width: 90%;
}

.editpost-btn {
    display: flex;
    justify-content: space-between;
}

.save-btn {
    margin: 5px auto;
    width: 45%;
}

.errormessage3 {
    padding: 5px 10px;
    margin: 0px auto 10px auto;
    width: 95%;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
}