.login-container {
    width: 45%;
    padding: 20px 30px;
    margin: auto;
}

.header-cntr {
    margin-top: 50px;
    background-color: #6d6d6d;
    border-radius: 15px 15px 0px 0px;
    color: white
}

.content-cntr {
    background-color: #ececec;
    border-radius: 0px 0px 15px 15px;
}

.login {
    align-items: center;
    margin-top: 15px;
}

.login-container label {
    font-weight: bold;
}

.login-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.login-input {
    width: 55%;
    padding: 5px 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
}

.login-input:focus {
    outline-color: #6d6d6d;
}

.pass-input {
    width: 55%;
    display: flex;
    justify-content: space-between;
    padding: 4px 20px 4px 15px;
    background-color: white;
    border-radius: 10px;
}

.pass-input:focus-within {
    border: 2px solid #6d6d6d;
}

.pass-input i {
    font-size: 20px;
}

.pass-input i:hover {
    cursor: pointer;
}

.respass-input {
    width: 85%;
    outline: none;
    border: none;
}

