.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

form {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
  }

  .custom-box {
    border: 2px solid black;
    padding: 40px;
    background-color: lightgray;
    width: 500px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 70%;
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .userinfo-container {
    width: 45%;
    padding: 20px 30px;
    margin: auto;
}

.header-cntr {
    margin-top: 50px;
    background-color: #6d6d6d;
    border-radius: 15px 15px 0px 0px;
    color: white
}

.content-cntr {
    background-color: #ececec;
    border-radius: 0px 0px 15px 15px;
}

.userinfo {
    align-items: center;
    margin-top: 15px;
}

.userinfo-container label {
    font-weight: bold;
}

.userinfo-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.userinfo-btn div button {
    margin-left: 10px;
}

.userinfo-input {
    width: 55%;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
}

.userinfo-input:focus {
    outline-color: #6d6d6d;
}

.reset-pass {
    margin: 30px 0px 15px;
}

.respass-cntr {
    display: flex;
    flex-direction: column;
}

.respass {
    margin: 15px 0px;
    align-items: center;
}

.respass-input {
    width: 85%;
    outline: none;
    border: none;
}

.respass-btn {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 25px 0px 15px 0px;
}

.pass-input {
    width: 52%;
    display: flex;
    justify-content: space-between;
    padding: 4px 20px 4px 15px;
    background-color: white;
    border-radius: 10px;
}

.pass-input:focus-within {
    border: 2px solid #6d6d6d;
}

.pass-input i {
    font-size: 20px;
}

.pass-input i:hover {
    cursor: pointer;
}

