.login-container {
    width: 35%;
    padding: 20px 40px;
    margin: auto;
}

.register-container {
    width: 40%;
    padding: 20px 40px;
    margin: auto;
}

.header-cntr {
    margin-top: 50px;
    background-color: #343a40;
    border-radius: 15px 15px 0px 0px;
    color: white
}

.content-cntr {
    background-color: #f2f2f5;
    border-radius: 0px 0px 15px 15px;
}

.login {
    align-items: center;
    margin-top: 15px;
}

.login .row {
    margin-bottom: 20px;
}

.login .row span {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.login-container label {
    font-weight: bold;
}

.register-container label {
    font-weight: bold;
}

.login-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-input2 {
    width: 70%;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
}

.login-input2:focus {
    outline-color: #343a40;
}

.login-input3 {
    width: 65%;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
}

.login-input3:focus {
    outline-color: #343a40;
}

.pass-input2 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 4px 20px 4px 15px;
    background-color: white;
    border-radius: 10px;
}

.pass-input2:focus-within {
    border: 2px solid #343a40;
}

.pass-input2 i {
    font-size: 20px;
}

.pass-input2 i:hover {
    cursor: pointer;
}

.pass-input3 {
    width: 65%;
    display: flex;
    justify-content: space-between;
    padding: 4px 20px 4px 15px;
    background-color: white;
    border-radius: 10px;
}

.pass-input3:focus-within {
    border: 2px solid #343a40;
}

.pass-input3 i {
    font-size: 20px;
}

.pass-input3 i:hover {
    cursor: pointer;
}

.respass-input {
    width: 85%;
    outline: none;
    border: none;
}

.btn-width {
    width: 98%
}

.btn-width2 {
    width: 100%
}

.linktoregister {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.errormessage1 {
    padding: 5px 0px;
    width: 98%;
    background-color: red;
    color: white;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
}

.errormessage2 {
    padding: 5px 10px;
    width: 100%;
    background-color: red;
    color: white;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
}