.userinfo-container {
    width: 45%;
    padding: 20px 30px;
    margin: auto;
}

.header-cntr {
    margin-top: 50px;
    background-color: #343a40;
    border-radius: 15px 15px 0px 0px;
    color: white
}

.content-cntr {
    background-color: #f2f2f5;
    border-radius: 0px 0px 15px 15px;
}

.userinfo {
    align-items: center;
    margin-top: 15px;
}

.userinfo-container label {
    font-weight: bold;
}

.userinfo-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.userinfo-btn div button {
    margin-left: 10px;
}

.userinfo-input {
    width: 55%;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
}

.userinfo-input:focus {
    outline-color: #343a40;
}

.reset-pass {
    margin: 30px 0px 15px;
}

.respass-cntr {
    display: flex;
    flex-direction: column;
}

.respass {
    margin: 15px 0px;
    align-items: center;
}

.respass-input2 {
    width: 90%;
    outline: none;
    border: none;
}

.respass-btn {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin: 25px 0px 15px 0px;
}

.pass-input {
    width: 55%;
    display: flex;
    justify-content: space-between;
    padding: 4px 20px 4px 15px;
    background-color: white;
    border-radius: 10px;
}

.pass-input:focus-within {
    border: 2px solid #343a40;
}

.pass-input i {
    font-size: 20px;
}

.pass-input i:hover {
    cursor: pointer;
}

